#page {
    position: absolute;
    top: 50px;
    padding: 20px;
}

ul li ul {
    margin-left: 20px;
}

#sticky-menu {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    color: white;
    background-color: blue;
    height: 50px;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 128, 0.5);
}

#sticky-menu ul {
    list-style: none;
    margin-top: 0;
    padding: 15px;
}

#sticky-menu ul li {
    display: inline;
}

#sticky-menu ul li a {
    background-color: blue;
    color: white;
    padding-top: 0px;
    padding-right: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    border-radius: 2px;
    margin: 0px;
}

#sticky-menu ul li a:hover {
    color: yellow;;
}
